.skills {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    grid-gap: space-around;
    align-items: center;
  }
  .progress-bar {
    border: 2px solid rgba(237, 238, 240, 0.966);
    height: 20px;
    width: 80%;
    border-radius: 20px;
    background-color: rgb(0, 0, 0);
    padding: 0.1px;
  }
  .progress {
    background-color: rgb(250, 249, 249);
    height: 15px;
    border-radius: 20px;
    width: 40%;
  }
  div.py {
    border: 2px solid rgba(241, 240, 237, 0.966);
    height: 20px;
    width: 80%;
    border-radius: 20px;
    background-color: rgb(13, 13, 14);
  }
  div.py > div {
    background-color: rgb(243, 240, 236);
    height: 15px;
    border-radius: 20px;
    width: 30%;
  }
  div.html > div {
    background-color: rgb(230, 216, 212);
    width: 80%;
  }
  div.sql > div {
    background-color: rgb(221, 221, 218);
    width: 70%;
  }
  
    div.react > div {
    background-color: rgb(233, 233, 233);
    width: 40%;
  }
  div.lan-name {
    color: rgb(248, 245, 244);
  }